html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    color: black;
}

.jumbotron {
    font-size: 72px;
}

.home__name {
    color: purple;
    font-size: 30px;
    margin-top: 15px;
}

.contact {
    border: solid purple 2px;
    border-radius: 10px;
    padding: 10px;
}

.contact__name {
    padding: 5px 0;
    border-bottom: solid purple 1px;
}

.contact__phone {
    padding-top: 5px;
}
